<a href="https://colab.research.google.com/github/Abdus-Salam24/EDGEICT/blob/main/Abdus_Salam_batch(05)_CastingStringBoolean_and_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Casting in python**

Casting in python is therefore done using constructor functions:

   

*   int() - constructs an integer number from an integer literal, a float literal
(by removing all decimals), or a string literal (providing the string represents a whole number)
*   float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
*   str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x, y, z)

1 2 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z, w)

1.0 2.8 3.0 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x, y, z)

s1 2 3.0

#**String in python**

In [ ]:
a = "Hello" #string variable
print(a)

Hello

assign a multiline string to a variable by using three quotes or three single quotes:

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a+"\n")
b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit.'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit.

In [7]:
#strings are arrays
a = "Hello, World!"
print(a[0:6])

Hello,

In [8]:
#looping through a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [11]:
#To get the length of a string, use the len() function.
#string length
a = "Hello, World!"
print(len(a))

13

#Cheaking String

In [13]:
#To check if a certain phrase or character is present in a string, we can use the keyword in.
txt = "The best things in life are free!"
print("free" in txt)

True

In [22]:
#Use it in an if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
#else:
  #print("No, it's not present.")

Yes, 'free' is present.

#Check if NOT

In [24]:
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
txt = "The best things in life are free!"
print("expensive" not in txt)

#Use it in an if statement
if "expensive" not in txt:
  print("\nNo, 'expensive' is NOT present.")

True

No, 'expensive' is NOT present.

#Python - Slicing Strings
*   Specify, leaving, negative

In [30]:
#Specify the start index and the end index, separated by a colon, to return a part of the string.
b = "Hello, World!"
print(b[2:5])

#By leaving out the start index, the range will start at the first character
b = "Hello, World!"
print(b[:5])

#By leaving out the end index, the range will go to the end
b = "Hello, World!"
print(b[2:])

#Use negative indexes to start the slice from the end of the string
b = "Hello, World!"
print(b[-5:-2])

llo
Hello
llo, World!
orl

#Python - Modify Strings


*   upper case
*   lower case
*   removes whitespace
*   replace
*   string to substring

In [29]:
#The upper() method returns the string in upper case
a = "Hello, World!"
print(a.upper())

#The lower() method returns the string in lower case
a = "Hello, World!"
print(a.lower())

#The strip() method removes any whitespace from the beginning or the end
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

#The replace() method replaces a string with another string
a = "Hello, World!"
print(a.replace("H", "J"))

#The split() method splits the string into substrings if it finds instances of the separator
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

#Python - String Concatenation

In [32]:
#To concatenate, or combine, two strings you can use the + operator.
#Merge variable a with variable b into variable c
a = "Hello"
b = "World"
c = a + b
print(c)

#To add a space between them, add a " "
a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

#Python - Format - Strings
*   String Format
*   F-Strings
*   Placeholders and Modifiers

In [33]:
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this
age = 36
txt = "My name is John, I am " + age
print(txt)

#But we can combine strings and numbers by using f-strings or the format() method!

TypeError: can only concatenate str (not "int") to str

We can combine strings and numbers by using f-strings or the format() method!
#F-Strings
*   F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [34]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

**Placeholders and Modifiers**

A placeholder can contain variables, operations, functions, and modifiers
to format the value.

In [35]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [38]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt+"\n")

#Perform a math operation in the placeholder, and return the result
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 59.00 dollars

The price is 1180 dollars

#Python - Escape Characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [42]:
#We will get an error if you use double quotes inside a string that is surrounded by double quotes
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-42-ec4b4f5ddf86>, line 2)

In [43]:
#To fix this problem, use the escape character \"

#The escape character allows you to use double quotes when you normally would not be allowed
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

#Escape Characters
Code -->	Result

\\'	--> Single Quote
\\\	  -->Backslash
\n	  -->New Line
\r	 -->Carriage Return
\t	 -->Tab
\b	 -->Backspace
\f	 -->Form Feed
\ooo	 -->Octal value
\xhh	  -->Hex value

#String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.
format(),find(),center(),count(),encode(),index(),isalpha(),isdigit(),islower(),isascii(),isdecimal(),isidentifier(),isspace(),isnumeric(),istitle(),isprintable(), etc.

#Python Booleans
**Boolean value**

Booleans represent one of two values: **True** or **False**.

In [44]:
#When we compare two values, the expression is evaluated and Python returns the Boolean answer
#get one of two answers, True or False.
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [45]:
#When we run a condition in an if statement, Python returns True or False
a = 200
b = 33

#Print a message based on whether the condition is True or False
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return

In [46]:
#Evaluate a string and a number

print(bool("Hello"))
print(bool(15))

True
True

In [48]:
#Evaluate two variables

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

#Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [49]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

#Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [50]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [51]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

#Functions can Return a Boolean
We can create functions that returns a Boolean Value:

In [52]:
def myFunction() :
  return True

print(myFunction())

True

In [53]:
#Print "YES!" if the function returns True, otherwise print "NO!"

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [54]:
#Check if an object is an integer or not

x = 200
print(isinstance(x, int))

True

#Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [55]:
print(10+5)

15

Python divides the operators in the following groups:

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Identity operators
*   Membership operators
*   Bitwise operators

Follow this,if you know details of those operators: https://www.w3schools.com/python/python_operators.asp

In [56]:
#Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first

print((6 + 3) - (6 + 3))

0

In [57]:
#Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions

print(100 + 5 * 3)

115

In [58]:
#Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right

print(5 + 4 - 7 + 3)

5